.app-header-container {
    background-color: #fff;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    box-sizing: border-box;
    padding: 12px 30px 12px 30px;

}
.app-header-menu {
    display: flex;
    margin-left: 50px;

}
.active {
    margin-top: 12px;
    border-bottom: solid 4px #1976d2;
}
.inactive {
    margin-top: 12px;

}